html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to bottom, #e8f5e9, #b9f6ca);
}

#loan-details .btn {
  width: 100%;
}

/* label */
.input-field label {
  font-size: 2rem;
  color: #66bb6a;
}
/* input */
.input-field input[type=text],
.input-field input[type=number] {
  height: 4rem;
  color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=number]:focus {
  border-bottom: 1px solid #66bb6a  !important;
  box-shadow: 0 1px 0 0 #66bb6a     !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #66bb6a;
}